<template>
    <div class="row">

            <div class="steps">
                <div class="step step1" :class="{active: step == 1}">
                    <span class="icon" @click="changeStep(1)" ><i class="fas fa-list"></i></span>
                    <div class="bar"></div>
                    <span class="name">Details</span>
                </div>
                <div class="step step2" :class="{active: step == 2}">
                    <span class="icon" @click="changeStep(2)"><i class="fas fa-images"></i></span>
                    <div class="bar"></div>
                    <span class="name">Images</span>
                </div>
                <div class="step step3" :class="{active: step == 3}">
                    <span class="icon" @click="changeStep(3)" ><i class="fas fa-file"></i></span>
                    <div class="bar"></div>
                    <span class="name">File</span>
                </div>
                
                <div class="step step4" :class="{active: step == 4}">
                    <span class="icon" @click="changeStep(4)" ><i class="fas fa-check"></i></span>
                    <div class="bar"></div>
                    <span class="name mr-1">Finish</span>
                </div>
            </div>        


        <!-- @include('layouts.partials.swals') -->

        <div v-show="step == 1" class="col-md-12" style="padding:30px" >
            <div class="card ">
                <div class="card-header">
                    <h3 class="card-title">Product Details</h3>
                </div>
                <!-- /.card-header -->
                <div style="padding:30px" >
                    <form @submit.prevent="handleSubmit" >
                        <!-- @include('layouts.partials.form_errors') -->

                        <!-- @csrf -->

                            <div class="row">
                            <div class="col-8 px-4">
                                    
                                <div class="form-group row">
                                    <label for="name" class="col-form-label ">Name:</label>
                                    <input type="text" class="form-control" id="name" placeholder="Product title" v-model="title" required>
                                </div>

                                <div class="form-group row">
                                    <label for="description" class="col-form-label ">Description:</label>
                                    <!-- <textarea class="textarea" name="description" id="description" placeholder="Description" rows="4" ></textarea> -->
                                    <quill-editor
                                        class="w-100"
                                        ref="myQuillEditor"
                                        v-model="description"
                                    />

                                </div>
                                

                                <div class="form-group check-form row mb-0">
                                    <div class="form-group form-check">
                                        <input type="checkbox" v-model="is_free" class="form-check-input" id="is_free">
                                        <label class="form-check-label" for="is_free">Free</label>
                                    </div>
                                </div>

                                <div class="row" v-if="!is_free">
                                    <div class="col-6 pl-0">
                                        <div class="form-group">
                                            <label for="price" class="col-form-label ">Price:</label>
                                            <input type="text" class="form-control" id="price" placeholder="Product Price" v-model="price" required>
                                        </div>
                                    </div>
                                    <div class="col-6 pr-0">
                                        <div class="form-group">
                                            <label for="discounted_price" class="col-form-label ">Discounted Price:</label>
                                            <input type="text" class="form-control" id="discounted_price" placeholder="Discounted Price" v-model="discounted_price">
                                        </div>
                                    </div>
                                </div>

                                            
                            </div>

                                <div class="col-4 px-4">
                                    <div class="form-group row">
                                        <label for="categories" class="col-form-label ">Category:</label>
                                        <v-select v-model="category" label="name" placeholder="Select Category" required :options="categories" id="categories" ></v-select>
                                    </div>

                                    <div class="form-group row">
                                        <label for="price" class="col-form-label ">Preview Link:</label>
                                        <input type="text" class="form-control" id="price" placeholder="Preview Link" v-model="preview_link">
                                    </div>

                                    <div class="form-group row">
                                        <div class="thumb-container col-12">
                                            <input type="file" class="d-none" id="preview_input" ref="preview_input" @change="previewImageSelected" />
                                            <img :src="thumb_image_preview" class="product-thumnb" />
                                            <button type="button" @click="selectPreviewImage" class="btn btn-success btn-sm" >Upload</button>
                                        </div>
                                    </div>
                                </div>
                                </div>

                        <div class="row">
                            <div class="col-12">
                                
                                <button v-if="product" type="submit" class="loading-btn btn btn-sm btn-success float-right">
                                    
                                    <loader v-if="loading"></loader>
                                    <span v-else> Update <i class="fas fa-arrow-right"></i> </span>
                                    
                                </button>

                                <button v-else type="submit" class="loading-btn btn btn-sm btn-success float-right"> 
                                    
                                    <loader v-if="loading"></loader>
                                    <span v-else> Create <i class="fas fa-plus"></i> </span>

                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

            <div class="col-md-12" style="padding:30px"  v-show="step == 2" >
                   
                <Images 
                
                    :photos="product.images" 
                    :product_id="product.id" 
                    @next-step="changeStep(3)"
                    @uploading-status="uploadStatusUpdate"
                    ></Images>
            </div>


        <div v-show="step == 3" class="col-md-12" style="padding:30px" >
            <div class="card" >
                <div class="card-header">
                    <h3 class="card-title">File Upload</h3>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">

                            <Uploader 
                                v-if="product"  
                                @next-step="changeStep(4)" 
                                :product_id="this.product.id" 
                                :product="this.product"
                                @uploading-status="uploadStatusUpdate"
                            ></Uploader>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        
        
        <div v-show="step == 4" class="col-md-12" style="padding:30px" >
            <div class="card ">
                <div class="card-header">
                    <h3 class="card-title">Finish</h3>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12 text-center">
                            <a @click="finishProduct" :disabled="processing" href="javascript:;" class="btn btn-success">
                                <span v-if="!processing"> <i class="fas fa-rocket"></i>   Finish  </span>
                                <span v-if="processing" ><loader></loader> Your File is being uploaded</span>
                                
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>









    </div>
</template>


<style scoped>
    .flash-message{
        z-index: 1035;
    }
    ._vue-flash-msg-wrapper ._vue-flash-msg-body__title{
        margin-bottom: 0;
    }
    ._vue-flash-msg-wrapper ._vue-flash-msg-body__text{
        margin-bottom: 0;
    }

</style>

<script>
import Images from './product/images.vue'
import Uploader from './product/file-upload.vue'

export default{
    components:{
        Images,
        Uploader
    },
    created(){

        // this.$toastr.success('Message', 'Title');
        this.getCategories();

        if(this.current_product){
            
            this.product = this.current_product
            this.title = this.current_product.title;
            this.description = this.current_product.description;
            this.price = this.current_product.price;
            this.discounted_price = this.current_product.discounted_price;
            this.category = this.current_product.category;
            this.preview_link = this.current_product.preview_link;
            this.is_free = this.current_product.is_free;

            if(this.current_product.thumbnail){
                this.thumb_image_preview = '/storage/products/' + this.current_product.thumbnail;
            }
        }
    },
    computed: {
      editor() {
        return this.$refs.myQuillEditor.quill
      }
    },
    props:{
        current_product:{
            type: Object,
            default: null,
        }
    },
    data(){
        return{
            step: 1,
            thumb_image_preview: '/img/timthumb.png',
            thumb_image: '',
            title: '',
            description:'',
            category:'',
            price: '',
            discounted_price: '',
            preview_link: '',
            product: '',
            is_free: '',
            loading: false,
            processing: false,
            categories: [],
        }
    },
    methods:{

        getCategories(){
            axios.post('/api/get-categories')
            .then( res => {
                this.categories = res.data.categories;
            }).catch( err => {
                console.log(err)
            })
        },
        uploadStatusUpdate($status){
            console.log($status)
            this.processing = $status
        },
        changeStep(step){
            console.log(step)
            if(step > 1){
                if(this.product){
                    this.step = step;
                }else{
                    this.$toastr.error('No Porduct Details');
                }
            }else{
                this.step = step;
            }
        },

        handleSubmit(){
            if(this.product){
                this.updateProduct()
            }else{
                this.createProduct();
            }
        },
        createProduct(){

            if(this.category){
                this.loading = true;
                this.processing = true;

                var fd = new FormData();

                fd.append('title' , this.title)
                fd.append('price' , this.price)
                fd.append('discounted_price' , this.discounted_price)
                fd.append('description' , this.description)
                fd.append('category_id' , this.category.id)
                fd.append('preview_link' , this.preview_link)
                fd.append('is_free' , this.is_free)
                fd.append('thumb_image' , this.thumb_image)

                axios.post('/api/add-product', fd ).then( res => {
                    
                    this.loading = false;
                    this.processing = false;
                    this.step = 2
                    this.product = res.data.product
                    
                    this.$toastr.success('Product Added Successfully');


                } ).catch( err => {
                    this.loading = false;
                    this.processing = false;
                    console.log(err)
                })
                // axios.post('/api/add-product',{
                //     title: this.title,
                //     price: this.price,
                //     discounted_price: this.discounted_price,
                //     description: this.description,
                //     category: this.category,
                //     preview_link: this.preview_link,
                //     is_free: this.is_free,
                // }).then( res => {
                    
                //     this.loading = false;
                //     this.processing = false;
                //     this.step = 2
                //     this.product = res.data.product
                    
                //     this.$toastr.success('Product Added Successfully');


                // } ).catch( err => {
                //     this.loading = false;
                //     this.processing = false;
                //     console.log(err)
                // })
            }else{
                this.$toastr.error('Category is required');
            }
        },
        updateProduct(){
            if(this.category){

                this.loading = true;

                var fd = new FormData();
                fd.append('title' , this.title)
                fd.append('price' , this.price)
                fd.append('discounted_price' , this.discounted_price)
                fd.append('description' , this.description)
                fd.append('category_id' , this.category.id)
                fd.append('preview_link' , this.preview_link)
                fd.append('is_free' , this.is_free)
                fd.append('thumb_image' , this.thumb_image)

                axios.post('/api/update-product/'+this.product.id, fd).then( res => {
                    
                    this.loading = false;
                    this.step = 2
                    this.product = res.data.product
                    
                    this.$toastr.success('Product Updated Successfully');


                } ).catch( err => {
                    this.loading = false;
                    console.log(err)
                })
                // axios.post('/api/update-product/'+this.product.id,{
                //     title: this.title,
                //     price: this.price,
                //     discounted_price: this.discounted_price,
                //     description: this.description,
                //     category: this.category,
                //     preview_link: this.preview_link,
                //     is_free: this.is_free,
                // }).then( res => {
                    
                //     this.loading = false;
                //     this.step = 2
                //     this.product = res.data.product
                    
                //     this.$toastr.success('Product Updated Successfully');


                // } ).catch( err => {
                //     this.loading = false;
                //     console.log(err)
                // })
            }else{
                this.$toastr.error('Category is required');
            }
        },
        finishProduct(){
            if(!this.processing){

            axios.post('/api/publish-product' , {
                    product_id: this.product.id,
            }).then( res => {
                console.log(res)
                window.location = '/admin/products';
            }).catch( err => {
                console.log(err)
                this.$toastr.success('Unexpected Error Occured');
            })
            }
        },

        selectPreviewImage(){
            $('#preview_input').click()
        },
        previewImageSelected(event){
            let file = event.target.files[0]
            if(!file) return;
            // console.log(file)
            this.thumb_image = file
            let src = URL.createObjectURL(file)
            this.thumb_image_preview = src
        }
    }
}
</script>


<style>
.v-select{
    width: 100%;
}
/* .vs__dropdown-toggle{ */
    /* padding: 4px 0 4px !important; */
/* } */
.vs__search{
    color: #9b7592 !important;
    padding: 4px 8px !important;
    margin: 3px 0 0 !important;
}

.vs__selected-options{
    height: 31px;
}

.ql-container{
    height: 177px;
    border-radius: 3px;
}
.thumb-container .btn{
    width: 170px;
}
.thumb-container img{
    margin-bottom: 10px;
    width: 170px;
    border-radius: 5px;
    height: 170px;
    object-fit: cover;
}

.thumb-container{
    text-align: center;
}
</style>