.images-container
    display: flex
    justify-content: start
    align-items: center
    position: relative
    flex-wrap: wrap

    .image-box
        width: 220px
        height: 150px
        position: relative
        margin: 10px
        display: flex
        justify-content: center
        align-items: center
        transition: 0.3s ease

        .image-overlay
            position: absolute
            background: #0000006b
            width: 100%
            height: 100%
            display: flex
            justify-content: center
            align-items: center
            color: #ffffff
            right: 0
            top: 0
            border-radius: 5px
            // font-size: 20px

            .image-center-button
                // position: absolute
                // width: 35px
                // height: 35px
                padding: 6px 10px
                display: flex
                justify-content: center
                align-items: center
                color: #ffffff
                // right: 40%
                // top: 40%
                border-radius: 3px
            
            .uploading
                background-color: #000000cc
                // background-color: #008dffcc
                color: #ffffff
            .delete
                background-color: #d52027cc
                color: #ffffff
                cursor: pointer

            .deleting
                background-color: #d52027cc
                color: #ffffff
            .failed
                background-color: #ffed4acc
                color: #000000
                cursor: pointer


            .delete-center
                position: absolute
                cursor: pointer
                background: #d52027a3
                width: 35px
                height: 35px
                display: flex
                justify-content: center
                align-items: center
                color: #ffffff
                right: 40%
                top: 40%
                border-radius: 3px

        img
            width: auto
            height: auto
            max-height: 100%
            max-width: 100%
            border-radius: 5px

.loading-text
    font-size: 30px
    z-index: 1


.dropzone-small
    width: 220px
    height: 150px
    background: rgb(238, 238, 238)
    border: 1px dashed rgb(51, 51, 51)
    align-items: center
    border-radius: 5px
    display: flex
    justify-content: center
    cursor: pointer
    flex-direction: column
    text-align: center
    align-items: center
    margin-left: 10px
    padding: 30px
    &:hover
        background-color: #fafafa

.center-dropzone
    width: 450px !important
    height: 250px !important

.is-dragging
    background-color: #d4d4d4
