
.list
    background-color: #d2d2d2
    font-family: monospace
    .list-item
        padding: 15px 20px
        border-bottom: 1px solid #c2c2c2
        
        .accordian-link.collapsed
            color: #8c8c8c

            .arrow-down-right
                transform: rotate(0deg)

        .accordian-link
            color: #787878
            display: flex
            justify-content: flex-start
            align-items: center

        a
            text-decoration: none

            .list-item-name
                font-size: 18px
                width: 99%
                
            .list-item-icon
                margin-left: 10px

            .arrow-down-right
                font-weight: 300
                font-size: 30px
                transition: all 0.5s
                transform: rotate(180deg)

    .notification-item
        display: flex

        .notification-item-image
            width: 6%
            min-width: 60px
            text-align: left

            img
                width: 50px
                border-radius: 200%
        
        .notification-item-description
            width: 85%
            color: #787878
            font-size: 17px
            display: flex
            align-items: center

        .notification-item-time
            width: 11%
            display: flex
            justify-content: center
            align-items: flex-end
            flex-direction:  column
            min-width: 80px
            
            .time-ago
                font-size: 14px
                color: #4e6a8099
                margin-top: 10px
            i._read
                color: #1de71d
            i._pending
                color: red
            i
                font-size: 13px

    // .collapse
        // border-bottom: 1px solid #e4e4e4

    .expandable-area
        padding: 20px 30px
        color: #787878

