


.steps
    display: flex
    justify-content: space-between
    width: 60%
    margin: auto
    padding-top: 25px
    .active
        .icon
            background: linear-gradient(45deg, #0068ff, #30b0e0) !important
            // background: linear-gradient(45deg, #000000, #333333) !important
        .bar
            // background: linear-gradient(45deg, #000000, #333333) !important
            background: linear-gradient(45deg, #0068ff, #30b0e0) !important

        .name
            background: -webkit-linear-gradient(45deg, #000000, #333333)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
    .step
        display: flex
        flex-direction: column
        justify-content: center
        position: relative
        // width: 33.33%
        // width: 25%
        .bar
            height: 2px
            background: #6d6d6d
            position: absolute
            top: 19px
            left: 0
            right: 0
            z-index: 2
        .icon
            width: 40px
            height: 40px
            display: flex
            justify-content: center
            align-items: center
            color: #fff
            background: #6d6d6d
            border-radius: 50%
            position: relative
            z-index: 3
            cursor: pointer
        .name
            font-size: 13px
    .step1
        align-items: flex-start
        width: 20%

    .step2
        align-items: center
        width: 30%
            
    .step3
        align-items: center
        width: 30%

    .step4
        align-items: flex-end
        width: 20%

    
    
@media screen and ( max-width:768px  )
    .steps
        width: 90%
