@font-face {
    src: url('/assets/fonts/Integral_CF/OTF/IntegralCF-Bold.otf');
    /* src: url('/fonts/Integral_CF/OTF/IntegralCF-Bold.otf'); */
    font-family: 'Integral_CF_Bold';
    font-weight: normal;
    font-style: normal;
}
@font-face {
    src: url('/assets/fonts/Integral_CF/OTF/IntegralCF-BoldOblique.otf');
    font-family: Integral_C;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    src: url('/assets/fonts/Integral_CF/OTF/IntegralCF-Regular.otf');
    font-family: 'IntegralCF-Regular';
    font-weight: normal;
    font-style: normal;

}
@font-face {
    src: url('/assets/fonts/Helvetica/HelveticaNowText-Regular.otf');
    font-family: 'Helvetica-Regular';
    font-weight: normal;
    font-style: normal;

}


body{
margin: 0 !important;
}

.wrapper{
  min-height: 80vh;
}
.shop-navbar {
display: flex;
justify-content: center;
align-items: center;
}

.shop-navbar .heading-box {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-top: 10px;
}

.shop-navbar .heading-box .heading-center {
font-size: 28px;
margin-bottom: 15px;
/*font-weight: bold;*/
/*font-style: italic;*/
} 

.shop-navbar .heading-box .heading-center a{
text-decoration: none;
color: #000000;
font-family: Integral_C;
}

.shop-navbar .menu-links {
position: absolute;
right: 10px;
top: 27px;
display: flex;
font-size: 14px;
font-family: 'IntegralCF-Regular';
}
.shop-navbar .menu-links .menu-dropdown{

  position: absolute;
  left: -20px;
  top: 23px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2px;
  z-index: 5;
  min-width: 160px;
  width: auto;
  border-radius: 5px;
  display: none;
  padding-top: 10px;

  }

.ml-auto{
margin-left: auto;
}

.ml-3{
margin-left: 0.5rem;
}


.shop-navbar .menu-links .menu-dropdown:hoverr{
  display: flex;
}

.shop-navbar .menu-links .menu-dropdown .dropdown-item {
font-size: 14px;
color: black;
padding: 5px 20px;
text-decoration: none;
margin-right: 0;
/*border-bottom: 1px solid #e2e2e2;*/
}

.shop-navbar .menu-links .menu-dropdown .dropdown-item:hover {
/*font-weight: bold;*/
font-family: 'Integral_CF_Bold';
background-color: #d8d8d8;
border-radius: 5px;
text-decoration: none;
}



.shop-navbar .menu-links a {
margin-right: 10px;
text-decoration: none;
color: #8c8c8c;
}

.shop-navbar .menu-links a:hover {
color: #000000;
}


.shop-navbar .menu-links .dropdown-link:hover .menu-dropdown {
display: flex !important;
}
.shop-navbar .menu-links .dropdown-link{
  position: relative;
}


.shop-navbar .menu-links .active {
/*font-weight: bold;*/
color: #000000;
/*font-family: 'Integral_CF_Bold';*/
}

.products {
display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: center;
margin: 30px;
/*margin: 10px 2%;*/
/*padding: 10px 5%;*/

}

@media screen and (max-width: 600px) {
.products{
  margin: 0;
  /*margin: 10px;*/
}
}

.products .product-box {
width: 300px;
display: flex;
align-items: center;
flex-direction: column;
margin: 26.5px!important;
/*margin: 1.5em !important;*/
/*margin: 10px 25px;*/
transition: transform 0.2s;
font-family: 'Space Mono', monospace;
}

.products .product-box .featured-image{
width: 300px;
height: 300px;
object-fit: cover;
border-radius: 3px 3px 0 0;
}

.products .product-box:hover {
transform: scale(1.05);
}

.products .product-box a {
text-decoration: none;
color: #000000;
}

/*.products .product-box .featured-image {
width: 100%;
height: auto;
}
*/
.products .product-box .product-details {
width: 100%;
margin-top: 5px;
}
.products .product-box .product-details .product-price-with-discount{
  font-size: 16px;
}
.products .product-box .product-details .product-price {
  font-size: 16px;
}
.products .product-box .product-details .product-price-with-discount .original-price{
  color: #8c8c8c;
  text-decoration: line-through;
}
.products .product-box .product-details .product-price-with-discount .discounted-price{
  margin-left: 5px;
}


.related-product-box .product-details .product-price-with-discount{
  font-size: 16px;
}
.related-product-box .product-details .product-price {
  font-size: 16px;
}
.related-product-box .product-details .product-price-with-discount .original-price{
  color: #8c8c8c;
  text-decoration: line-through;
}
.related-product-box .product-details .product-price-with-discount .discounted-price{
  margin-left: 5px;
}

.products .product-box .product-details .product-title {
font-size: 20px;
font-family: "Space Mono", monospace;

}

.products .product-box .product-details .product-price {
font-family: "Space Mono", monospace;

}

.products .product-box .product-details .product-price.free {
  color: rgb(46 142 69);
}

.content {
display: flex;
}

.side-bar {
width: 20%;
height: 400px;
}

.side-bar-right {
width: 25%;
max-width: 350px;
height: 400px;
font-family: 'IntegralCF-Regular';

}

.sidebar-links {
display: flex;
flex-direction: column;
margin-top: 5px;
}

.sidebar-links .side-link {
font-size: 14px;
color: black;
padding: 3px 10px;
text-decoration: none;
}

.sidebar-links .side-link:hover {
/*font-weight: bold;*/
font-family: 'Integral_CF_Bold';
background-color: #d8d8d8;
border-radius: 8px;
text-decoration: none;
}

.sidebar-links .active {
/*font-weight: bold;*/
background-color: #d8d8d8;
border-radius: 8px;
text-decoration: none;
font-family: 'Integral_CF_Bold';
}

.single-product {
display: flex;
justify-content: center;
margin-top: 100px;
margin-bottom: 100px;
}

.single-product .description-container {
width: 50%;
display: flex;
justify-content: center;
align-items: flex-start;
}

.single-product .description-container .description-box {
background-color: #d2d2d2;
border-radius: 5px;
width: 85%;
padding: 10px;
color: #787878;
border: 2px solid #a7a7a7;
font-size: 20px;
box-shadow: 0px 0px 3px #9f9f9f;

position: sticky;
top: 40px;
}

.single-product .description-container .description-box .product-title {
font-size: 25px;
font-weight: bolder;
font-family: "Space Mono", monospace;

}

.single-product .description-container .description-box .product-price-box {
  border-radius: 3px;
  border: 2px solid #4caf50;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 35px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: "Space Mono", monospace;

}

.single-product .description-container .description-box .product-price-box .old-price {
color: #4caf50;
text-decoration: line-through;

}

.single-product .description-container .description-box .product-price-box .discounted-price {
color: #000000;
}
.single-product .description-container .description-box .price.free{
  color: rgb(46 142 69);
}
.single-product .description-container .description-box .price{
  color: #787878;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Helvetica-Regular' , sans-serif;
}

.single-product .description-container .description-box .description {
font-size: 17px;
font-family: 'Helvetica-Regular' , sans-serif;

}

.single-product .description-container .description-box .add-to-cart:hover {
  color: rgb(46 142 69);
}
.single-product .description-container .description-box .add-to-cart {
background-color: transparent;
border: 1px solid #a7a7a7;
border-radius: 3px;
font-size: 15px;
color: #323232;
width: 100%;
margin-top: 15px;
font-family: 'Integral_CF_Bold';
padding: 5px 0;
outline: none;
display: inline-block;
text-align: center;
text-decoration: none;
height: 38px;
/* height: 22px; */
}

.single-product .description-container .preview-section {
padding-top: 5px;
padding-bottom: 15px;
border-top: 1px solid #a7a7a7;
border-bottom: 1px solid #a7a7a7;
margin-top: 10px;
font-family: 'Helvetica-Regular';

}

.single-product .description-container .preview-section .preview-text {
text-align: center;
margin-bottom: 5px;
}
.single-product .description-container .preview-section .preview-box {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
background-color: white;
border-radius: 5px;

}

.single-product .description-container .preview-section .preview-box .audio-box {
width: 28%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
}

.single-product .description-container .preview-section .preview-box .audio-box img {
width: 130px;
height: auto;
}

.single-product .description-container .preview-section .preview-box .audio-container {
width: 100%;
background-color: #cccccc;
}

.single-product .description-container .preview-section .preview-box .audio-container .audio-graph {
width: 100%;
height: 150px;
}

.single-product .description-container .preview-section .preview-box .audio-container .audio-graph .play-button {
background-color: #ff2424;
color: white;
border-radius: 200%;
height: 40px;
width: 40px;
outline: none;
border: 1px solid #a7a7a7;
display: flex;
justify-content: center;
align-items: center;
}

.single-product .description-container .preview-section .preview-box .audio-container .audio-graph .meta-info {
display: flex;
}

.single-product .description-container .preview-section .preview-box .audio-container .audio-graph .meta-info .meta-item {
font-size: 14px;
}

.single-product .image-container {
width: 50%;
text-align: center;
/*display: flex;*/
/*justify-content: center;*/
}

.single-product .image-container img {
  width: 75%;
  height: auto;
  margin-bottom: 10px; 
  object-fit: contain;
  border-radius: 5px;
}

.single-product .image-container .image-box {
width: 85%;
display: flex;
justify-content: center;
align-items: center;
background-color: blue;
height: 400px;
}

.page {
display: flex;
justify-content: center;
margin-top: 100px;
margin-bottom: 100px;
}

.page .box-container {
width: 70%;
display: flex;
justify-content: center;
align-items: center;
}

.page .box-container .box {
background-color: #d2d2d2;
border-radius: 5px;
width: 84%;
/* padding: 10px; */
padding: 30px 20px;
color: #787878;
border: 2px solid #c3c3c3;
font-size: 20px;
box-shadow: 0px 0px 3px #9f9f9f;
}

.page .box-container .box .page-title {
font-size: 22px;
/*font-weight: bolder;*/
}

.cart-item {
display: flex;
position: relative;
border-radius: 5px;
font-family: 'Helvetica-Regular';

/*border: 1px solid #d2d2d2;*/
}
/*
.cart-item:hover{
background-color: #e6e6e6;
border: 1px solid #b3b3b3;
}*/

.cart-item .product-image {
width: 150px;
/* width: 15%; */
padding: 8px;
}

.cart-item .product-image img {
  width: 120px;
  height: 80px;
  border-radius: 3px;
  object-fit: cover;
}

.cart-item .product-name {
width: 70%;
display: flex;
padding-left: 35px;
align-items: center;
}

.cart-item .product-name a{
color: inherit !important;
text-decoration: none;
}

.cart-item .product-discounted-price {
  color: #4caf50 !important;
}
.cart-item .product-price {
width: 20%;
display: flex;
justify-content: flex-end;
align-items: center;
}

.cart-item .delete-product {
position: absolute;
top: -8px;
right: -8px;
background-color: #ff000096;
width: 20px;
height: 20px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50px;
color: white;
font-size: 15px;
cursor: pointer;
}

.cart-item .delete-product:hover {
background-color: #ff0000ba;
}



.cart-total{
  display: flex;
  font-family: 'Helvetica-Regular';
}


.cart-summary-heading{
width: 100%;
}

.cart-details .total-items{
  margin-bottom: 10px;
}
.cart-details{
width: 100%;
text-align: right;
}

.font-mono-space {
font-family: "Space Mono", monospace;
}





/*body {
font-family: monospace;
}
*/

.related-products-title{

  font-size: 22px;
  color: #787878;
  margin-left: 50px;
  margin-bottom: 25px;
}

.related-products {
display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: center;
margin-top: 10px;
}


.related-products .related-product-box {
width: 300px;
display: flex;
align-items: center;
flex-direction: column;
margin: 26.5px!important;
transition: transform 0.2s;
font-family: 'Space Mono', monospace;
}

.related-products .related-product-box:hover {
transform: scale(1.05);
}


.related-products .related-product-box .featured-image{
width: 300px;
height: 300px;
object-fit: cover;
border-radius: 3px 3px 0 0;
}


.related-products .related-product-box a {
text-decoration: none;
color: #000000;
}

/*.related-products .related-product-box .featured-image {
width: 100%;
height: auto;
}*/

.related-products .related-product-box .product-details {
width: 100%;
margin-top: 5px;
}

.related-products .related-product-box .product-details .product-title {
font-size: 20px;
}

.integral-fonts{
    font-family: 'IntegralCF-Regular';
}



.checkout-page .box{
  font-family: 'Helvetica-Regular';
}
.checkout-page .message-box a{
  color: #787878;
  text-decoration: none;
  margin-left: 10px;
}
/* .checkout-page .coupen-area.show{
  height: auto !important;
} */
.checkout-page .coupen-area{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.checkout-page .coupen-area button{
  width: 45%;
}
.grey-btn{
  height: 40px;
  background-color: #d2d2d2;
  border: 1px solid #727272;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 17px;
  font-family: monospace;
  color: #787878;
  outline: none !important;
  transition: all .3s ease-in-out;
}
.grey-btn:hover{
  background-color: #b6b6b6;
  /* color: #d2d2d2; */
}

.user-info-area{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info-area .first-name{
  width: 50%;
}

.user-info-area .last-name{
  width: 50%;
}
.user-info-area .email-address{
  width: 100%;
}

.checkout-label{
  margin-top: 10px;
  font-family: 'Helvetica-Regular';
  font-size: 18px;
}
.notification-checkbox{
  margin-top: 10px;
}
.notification-checkbox label{
  font-size: 17px;
}

.checkout-page .coupen-area input{
  width: 90%;
}
.checkout-input{
  height: 40px;
  background-color: #b6b6b6;
  border: 1px solid #727272;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 17px;
  outline: none;
  margin-right: 10px;
  font-family: monospace;
  color: #727272;

}
.checkout-page .message-box{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 3px;
  /* background-color: #213f2f; */
  background-color: #00ff7745;
  color: rgb(88, 164, 106);
  font-family: monospace;
  font-size: 16px;

}

.checkout-page .info-message-box i{
    margin-top: 2px;
    margin-right: 6px;
}
.checkout-page .info-message-box{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 3px;
  background-color: #b6b6b6;
  color: rgb(93 93 93);
  /* font-family: monospace; */
  font-size: 16px;

}


.order-details{
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-details .left-side{
  width: 50%;
}
.order-details .right-side{
  width: 50%;
}
.total-item.free{
  color: rgb(46 142 69);

}
.total-item{
  text-align: right;
}

.payment-option label{
  font-size: 20px;
}


.m-btn{
  background-color: transparent;
    border: 1px solid #a7a7a7;
    border-radius: 3px;
    font-size: 15px;
    color: #323232;
    width: 100%;
    margin-top: 15px;
    font-family: 'Integral_CF_Bold';
    padding: 5px 0;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    height: 38px;

}


.m-btn:hover{
    color: #323232;
    background-color: #c3c3c3;
    text-decoration: none;

}


.proceed-btn{
  margin-bottom: 15px;
  /* color: rgb(46 142 69); */
}
.proceed-btn:hover{
  color: rgb(46 142 69);
}


.stripe-pay{
  background: linear-gradient(90deg , #5645b7 , #51d1f7);
  color: white;
  transition: all .5s ease-in-out;
}
.stripe-pay:hover{
  color: white;
  background: linear-gradient(90deg , #6433b6 , #6195ec);
}


.coupen-apply-btn:hover{
  color: rgb(88, 164, 106) !important;
}

.no-item-in-cart{
  text-align: center;
}
.no-item-in-cart img{
  width: 270px;
}


.no-products-found-message i{  
  margin-top: 5px;
  margin-right: 10px;
}
.no-products-found-message{
  height: 50vh;
  width: 100%;
  font-size: 30px;
  display: flex;
  color: #8c8c8c;
  justify-content: center;
  align-items: center;
  font-family: 'IntegralCF-Regular';
}

.footer .logo-area a{
  text-decoration: none;
  color: #dedede;
  font-family: Integral_C;
  font-size: 23px;
}
.footer .logo-area{
  width: 15%;
  text-align: left;
}
.footer .social-icons{
  width: 55%;
  min-width: 150px;
  text-align: center;
}
.footer .footer-links{
  width: 25%;
  text-align: center;
}
.footer .footer-links a{
  text-align: center;
  margin: 0 7px;
  color: #141414;
  font-size: 17px;
  font-family: 'Helvetica-Regular';
}
.footer .footer-links a:hover{
  color: #8c8c8c;
  text-decoration: none;
}

.footer .social-icons i:hover{
  color: #8c8c8c;
}
.footer .social-icons i{
  font-size: 18px;
  margin: 0 4px;
  color: #141414;
}
.footer{
  height: 75px;
  border-top: 1px solid #141414;
  background-color: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #141414;
  padding: 0 25px;
  margin-top: 30px;
}


.sidebar .mobile-menu{
  margin-top: 40px;
}
.sidebar .mobile-menu .menu a{
  text-decoration: none;
}
.sidebar .mobile-menu .menu{
  font-size: 18px;
  border-bottom: 1px solid #cecece;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-decoration: none;
}
.sidebar .mobile-menu .sub-menu a{
  color: #000;
  text-decoration: none;
}
.sidebar .mobile-menu .sub-menu{
  font-size: 16px;
  border-bottom: 1px solid #cecece;
  text-align: left;
  padding-left: 40px;
  padding-bottom: 2px;
  padding-top: 2px;
  text-decoration: none;
}
.sidebar .mobile-menu .menu a{
  color: #000;
}
.sidebar{
  width: 0%;
  background-color: #fff;
  height: 100%;
  color: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: all .3s ease-in-out;
  overflow: hidden;
  z-index: 999;
}

.sidebar .close-btn{
  position: absolute;
  right: 13px;
  top: 10px;
  font-size: 20px;
  color: #828282;
}

.mobile-menu-icon-btn{
  display: none;
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 25px;
}

.mobile-cart-btn{
  display: none;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.total-products{
  position: absolute;
  top: -10px;
  right: 0;
  background-color: black;
  color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  border-radius: 200%;
  font-weight: 300 !important;
  font-family: 'Nunito';
}


@media screen and (max-width:372px) {
  .shop-navbar .heading-box .heading-center{
    margin-top: 5px;
    font-size: 23px;
  }
}
@media screen and (max-width:950px) {
  .shop-navbar .menu-links{
    display: none;
  }
  .mobile-menu-icon-btn{
    display: block;
  }
  .mobile-cart-btn{
    display: block;
  }
  .total-products{
    right: -12px;
  }
}
@media screen and (max-width:400px) {
  .checkout-page .coupen-area button{
    width: 70%;
  }
  .checkout-page .message-box{
    font-size: 15px;
  }
}



.wave-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave-container .btn-container i.fa-play{
  color: #141414;
}
.wave-container .btn-container i{
  cursor: pointer;
}
.wave-container .btn-container{
  min-width: 40px;
  text-align: center;
  padding-right: 5px;
}

.wave-container .waves{
  flex-grow: 1;
}



.card-body{
  padding: 1.25rem 0;
}




@media screen and (max-width:550px) {
  .checkout-page .coupen-area{
    flex-direction: column;
  }
  .checkout-page .coupen-area input{
    margin-bottom: 10px;
    margin-right: 0;
    width: 100%;
  }
  .user-info-area{
    flex-direction: column;
  }
  .user-info-area .first-name{
    width: 100%;
  }
  .user-info-area .last-name{
    width: 100%;
  }
}



@media screen and (max-width:550px){
  .products .product-box{
    width: 100% !important;
  }
  .products .product-box .featured-image-box{
    width: 100%;
  }
  .products .product-box .featured-image{
    width: 100%;
    max-width: 100%;
  }
  .related-products .related-product-box{
    width: 100%;
  }
  .related-products .related-product-box .featured-image-box{
    width: 100%;
  }
  .related-products .related-product-box .featured-image{
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width:768px) {
  .no-products-found-message{
    font-size: 17px;
  }
  .footer .logo-area{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .footer .footer-links{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .footer .social-icons{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .footer{
    height: auto;
    flex-direction: column;
  }


  .single-product{
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 25px;
  }
  .single-product .description-container{
    width: 100%;
  }
  .single-product .image-container{
    width: 100%;
    margin-top: 30px;
  }

  .related-products-title{
    margin-left: 15px;
    margin-bottom: 10px;
  }

  .single-product .image-container img{
    width: 90%;
  }

  .single-product .description-container .description-box{
    width: 90%;
  }

  .page .box-container{
    width: 90%;
  }
  .page .box-container .box{
    width: 100%;
  }
  .page{
    margin-top: 50px;
    margin-bottom: 50px;
  }
}


@media screen and (max-width:500px) {
  .page .box-container .box{
    padding: 15px;
  }
  .cart-item .product-image img{
    width: 90px;
    height: 60px;
  }
  .cart-item .product-image{
    padding: 8px 0;
  }
  .cart-item .product-name{
    padding-left: 0;
  }
  .page .box-container .box .page-title{
    font-size: 17px;
  }
  .checkout-label{
    font-size: 17px;
  }
}





@media screen and (max-width:768px) {
  .products .product-box{
    width: 40%;
  }
  .products .product-box .featured-image{
    max-width: 100%;
  }
}



.mail-container button{
  background-color: transparent;
  outline: none;
  height: 30px;
  background-color: #f8fafc;
  border: 1px solid #727272;
  border-left: none;
  border-radius: 0 4px 4px 0;
  padding: 0 7px;
  font-size: 15px;
  color: #141414;

}
.mail-container input::placeholder{
  color: #141414;
}
.mail-container input{
  outline: none;
  height: 30px;
  background-color: #f8fafc;
  border: 1px solid #727272;
  border-radius: 4px 0 0 4px;
  padding: 0 8px;
  font-size: 15px;
  outline: none;
  font-family: monospace;
  color: #141414;
  width: 100%;
  flex-grow: 1;
}
.mail-area{
  width: 20%;
}
.mail-container{
  display: flex;
  justify-content: center;
  align-items: center;
}