  @font-face {
      src: url('fonts/Integral_CF/OTF/IntegralCF-Bold.otf');
      font-family: 'Integral_CF_Bold';
      font-weight: normal;
      font-style: normal;
}
@font-face {
      src: url('fonts/Integral_CF/OTF/IntegralCF-BoldOblique.otf');
      font-family: Integral_C;
      font-weight: normal;
      font-style: normal;
}
@font-face {
      src: url('fonts/Integral_CF/OTF/IntegralCF-Regular.otf');
      font-family: 'IntegralCF-Regular';
      font-weight: normal;
      font-style: normal;

}
@font-face {
      src: url('fonts/Helvetica/HelveticaNowText-Regular.otf');
      font-family: 'Helvetica-Regular';
      font-weight: normal;
      font-style: normal;

}


body{
  margin: 0 !important;
}

.shop-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-navbar .heading-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.shop-navbar .heading-box .heading-center {
  font-size: 30px;
  margin-bottom: 15px;
  /*font-weight: bold;*/
  /*font-style: italic;*/
} 

.shop-navbar .heading-box .heading-center a{
  text-decoration: none;
  color: #000000;
  font-family: Integral_C;
}

.shop-navbar .menu-links {
  position: absolute;
  right: 2px;
  top: 25px;
  display: flex;
  font-size: 14px;
  font-family: 'IntegralCF-Regular';
}
.shop-navbar .menu-links .menu-dropdown{

    position: absolute;
    left: -40px;
    top: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2px;
    z-index: 5;
    width: 200px;
    border-radius: 5px;
    display: none;
    padding-top: 10px;

    }

.ml-auto{
  margin-left: auto;
}

.ml-3{
  margin-left: 0.5rem;
}


.shop-navbar .menu-links .menu-dropdown:hoverr{
    display: flex;
  }

.shop-navbar .menu-links .menu-dropdown .dropdown-item {
  font-size: 14px;
  color: black;
  padding: 5px 20px;
  text-decoration: none;
  margin-right: 0;
  /*border-bottom: 1px solid #e2e2e2;*/
}

.shop-navbar .menu-links .menu-dropdown .dropdown-item:hover {
  /*font-weight: bold;*/
  font-family: 'Integral_CF_Bold';
  background-color: #d8d8d8;
  border-radius: 5px;
  text-decoration: none;
}



.shop-navbar .menu-links a {
  margin-right: 10px;
  text-decoration: none;
  color: #8c8c8c;
}

.shop-navbar .menu-links a:hover {
  color: #000000;
}


.shop-navbar .menu-links .dropdown-link:hover .menu-dropdown {
  display: flex !important;
}


.shop-navbar .menu-links .active {
  /*font-weight: bold;*/
  color: #000000;
  /*font-family: 'Integral_CF_Bold';*/
}

.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 30px;
  /*margin: 10px 2%;*/
  /*padding: 10px 5%;*/

}

@media screen and (max-width: 600px) {
  .products{
    margin: 0;
    /*margin: 10px;*/
  }
}

.products .product-box {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 26.5px!important;
  /*margin: 1.5em !important;*/
  /*margin: 10px 25px;*/
  transition: transform 0.2s;
  font-family: 'Space Mono', monospace;
}

.products .product-box .featured-image{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 3px 3px 0 0;
}

.products .product-box:hover {
  transform: scale(1.05);
}

.products .product-box a {
  text-decoration: none;
  color: #000000;
}

/*.products .product-box .featured-image {
  width: 100%;
  height: auto;
}
*/
.products .product-box .product-details {
  width: 100%;
  margin-top: 5px;
}

.products .product-box .product-details .product-title {
  font-size: 20px;
  font-family: "Space Mono", monospace;

}

.products .product-box .product-details .product-price {
  font-family: "Space Mono", monospace;

}

.content {
  display: flex;
}

.side-bar {
  width: 20%;
  height: 400px;
}

.side-bar-right {
  width: 25%;
  max-width: 350px;
  height: 400px;
  font-family: 'IntegralCF-Regular';

}

.sidebar-links {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.sidebar-links .side-link {
  font-size: 14px;
  color: black;
  padding: 3px 10px;
  text-decoration: none;
}

.sidebar-links .side-link:hover {
  /*font-weight: bold;*/
  font-family: 'Integral_CF_Bold';
  background-color: #d8d8d8;
  border-radius: 8px;
  text-decoration: none;
}

.sidebar-links .active {
  /*font-weight: bold;*/
  background-color: #d8d8d8;
  border-radius: 8px;
  text-decoration: none;
  font-family: 'Integral_CF_Bold';
}

.single-product {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.single-product .description-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.single-product .description-container .description-box {
  background-color: #d2d2d2;
  border-radius: 5px;
  width: 85%;
  padding: 10px;
  color: #787878;
  border: 2px solid #a7a7a7;
  font-size: 20px;
  box-shadow: 0px 0px 3px #9f9f9f;

  position: sticky;
  top: 80px;
}

.single-product .description-container .description-box .product-title {
  font-size: 25px;
  font-weight: bolder;
  font-family: "Space Mono", monospace;

}

.single-product .description-container .description-box .product-price-box {
  border-radius: 3px;
  border: 2px solid #4caf50;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: "Space Mono", monospace;

}

.single-product .description-container .description-box .product-price-box .old-price {
  color: #4caf50;
  text-decoration: line-through;

}

.single-product .description-container .description-box .product-price-box .discounted-price {
  color: #000000;
}

.single-product .description-container .description-box .price{
  color: #000000;
  font-size: 17px;
  font-family: 'Helvetica-Regular' , sans-serif;
}


.single-product .description-container .description-box .description {
  font-size: 17px;
  font-family: 'Helvetica-Regular' , sans-serif;

}

.single-product .description-container .description-box .add-to-cart {
  background-color: transparent;
  border: 1px solid #a7a7a7;
  border-radius: 3px;
  font-size: 15px;
  color: #323232;
  width: 100%;
  margin-top: 15px;
  font-family: 'Integral_CF_Bold';
  padding: 7px 0;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.single-product .description-container .preview-section {
  padding-top: 5px;
  padding-bottom: 15px;
  border-top: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
  margin-top: 10px;
  font-family: 'Helvetica-Regular';

}

.single-product .description-container .preview-section .preview-text {
  text-align: center;
  margin-bottom: 5px;
}
.single-product .description-container .preview-section .preview-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;

}

.single-product .description-container .preview-section .preview-box .audio-box {
  width: 28%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-product .description-container .preview-section .preview-box .audio-box img {
  width: 130px;
  height: auto;
}

.single-product .description-container .preview-section .preview-box .audio-container {
  width: 100%;
  background-color: #cccccc;
}

.single-product .description-container .preview-section .preview-box .audio-container .audio-graph {
  width: 100%;
  height: 150px;
}

.single-product .description-container .preview-section .preview-box .audio-container .audio-graph .play-button {
  background-color: #ff2424;
  color: white;
  border-radius: 200%;
  height: 40px;
  width: 40px;
  outline: none;
  border: 1px solid #a7a7a7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-product .description-container .preview-section .preview-box .audio-container .audio-graph .meta-info {
  display: flex;
}

.single-product .description-container .preview-section .preview-box .audio-container .audio-graph .meta-info .meta-item {
  font-size: 14px;
}

.single-product .image-container {
  width: 50%;
  text-align: center;
  /*display: flex;*/
  /*justify-content: center;*/
}

.single-product .image-container img {
  width: 75%;
  height: auto;
  margin-bottom: 10px; 
  -o-object-fit: contain;
     object-fit: contain;
}

.single-product .image-container .image-box {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  height: 400px;
}

.page {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.page .box-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page .box-container .box {
  background-color: #d2d2d2;
  border-radius: 5px;
  width: 85%;
  padding: 10px;
  color: #787878;
  border: 2px solid #c3c3c3;
  font-size: 20px;
  box-shadow: 0px 0px 3px #9f9f9f;
}

.page .box-container .box .page-title {
  font-size: 22px;
  /*font-weight: bolder;*/
}

.cart-item {
  display: flex;
  position: relative;
  border-radius: 5px;
  font-family: 'Helvetica-Regular';

  /*border: 1px solid #d2d2d2;*/
}
/*
.cart-item:hover{
  background-color: #e6e6e6;
  border: 1px solid #b3b3b3;
}*/

.cart-item .product-image {
  width: 15%;
  padding: 8px;
}

.cart-item .product-image img {
  width: 100%;
  height: auto;
}

.cart-item .product-name {
  width: 70%;
  display: flex;
  padding-left: 35px;
  align-items: center;
}

.cart-item .product-name a{
  color: inherit !important;
  text-decoration: none;
}

.cart-item .product-price {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart-item .delete-product {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff000070;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.cart-item .delete-product:hover {
  background-color: #ff0000a0;
}



.cart-total{
  display: flex;
  font-family: 'Helvetica-Regular';
}

.cart-summary-heading{
  width: 100%;
}

.cart-details{
  width: 100%;
  text-align: right;
}

.font-mono-space {
  font-family: "Space Mono", monospace;
}





/*body {
  font-family: monospace;
}
*/

.related-products-title{

    font-size: 22px;
    color: #787878;
    margin-left: 50px;
    margin-bottom: 25px;
}

.related-products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
  }


.related-products .related-product-box {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 26.5px!important;
  transition: transform 0.2s;
  font-family: 'Space Mono', monospace;
  }

.related-products .related-product-box:hover {
  transform: scale(1.05);
}


.related-products .related-product-box .featured-image{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 3px 3px 0 0;
}


.related-products .related-product-box a {
  text-decoration: none;
  color: #000000;
}

/*.related-products .related-product-box .featured-image {
  width: 100%;
  height: auto;
}*/

.related-products .related-product-box .product-details {
  width: 100%;
  margin-top: 5px;
}

.related-products .related-product-box .product-details .product-title {
  font-size: 20px;
}

.integral-fonts{
      font-family: 'IntegralCF-Regular';
}
