<template> 
    <span class="loader" :style="'font-size:' + font_size + 'px'" >
        <i class="fas fa-spinner fa-spin"></i>
    </span>
</template>

<script>
    export default {
        props:{
            font_size: {
                type: String,
                default: '18'
            }, 
        },
        data() {
            return {
               
            }
        },
    }
</script>

<style lang="sass" scoped>
    .loader    
        z-index: 301
        // display: flex
        justify-content: center
        align-items: center
        // font-size: 23px
        // background: #0000009c
        color: inherit
</style>