<template>
  <div class="page">
    <div class="box-container">
        <div class="box">
            <div class="page-title">
                    

                <template v-if="cart_items && cart_items.length">
                    <div v-for="item in cart_items" :key="item.id">
                        <div class="cart-item">
                            <div class="product-image"> 
                                <img v-if="item.images && item.images.length > 0" :src="'/storage/products/'+item.images[0].name" />

                                <img v-else-if="item.images.length == 0 && item.thumbnail" :src="'/storage/products/'+item.thumbnail"  class="featured-image" />

                                <img v-else src="/images/template.jpg" />

                            </div>
                            <div class="product-name">
                                <a :href="'/product/'+item.slug+'/view'">
                                {{item.title}}
                                </a>
                            </div>
                            <div class="product-price product-discounted-price" v-if="item.discounted_price && !item.is_free">
                                ${{item.discounted_price}}
                            </div>
                            <div v-else class="product-price" :class="{'product-discounted-price' : item.is_free}">
                                {{item.is_free ? 'Free' : '$' + item.price}}
                            </div>
                            <div class="delete-product" @click="deleteItem(item)" >
                                <loader font_size="12" v-if="deleting_item == item"></loader>
                                <i v-else class="fa fa-times"></i>
                            </div>
                        </div>
                        <hr>
                    </div>     
                          
                    <div class="cart-total">
                        <div class="cart-summary-heading">Cart Totals</div>
                        <div class="cart-details">
                            <div class="total-items">Total Items : {{cart_items.length}}</div>
                            <div>Total Amount : ${{total_price}}</div>
                        </div>
                    </div>
                    <a href="/checkout" class="m-btn proceed-btn">
                        <span>Proceed to checkout</span>
                    </a>

                    <template v-if="cart_items && cart_items.length && total_price > 0">
                        <div id="paypal-button-container"></div>
                    </template>


                    </template>
                    <div v-else class="no-item-in-cart">
                        <img src="/svg/empty_cart.svg" />

                    <a href="/" class="m-btn proceed-btn">
                        <span>Shop Now</span>
                    </a>

                    </div>


            </div>
        </div>

    </div>
</div>
</template>

<script>
export default {
    props:{
        cart_items: {

        }
    },
    data(){
        return{
            items: [],
            deleting_item: '',
            placing_order: false,
            fullLoader: false,
        }
    },
    mounted(){


        // setTimeout(() => {
        //     $('.paypal-button-layout-vertical').css('max-width' , '760px')
        // }, 1000);
        this.items = this.cart_items;
        let total_price = this.total_price;
        let placeOrder = this.placeOrder;

        if(this.total_price > 0){

            paypal.Buttons({
                style: {
                    height:  39,
                    width:  760,
                },
    
            createOrder(data, actions){
    
                // This function sets up the details of the transaction, including the amount and line item details.
                return actions.order.create({
                purchase_units: [{
                    amount: {
                    value: total_price 
                    // value: "10"
                    }
                }]
                });
            },
            onCancel(data) {
                // Show a cancel page, or return to cart
                checkout_component.responsePaymentCanceled('Sorry , The payment has been cancelled. Try Again');
            },
                onError: (err) => {
                // Show an error page here, when an error occurs
                this.$toastr.error(err);
                // console.log(err)
                checkout_component.responsePaymentCanceled('Sorry, Payment Failed due unknown reasons.Please Try Again');
    
            },
    
    
            onApprove: function(data, actions) {
                // This function captures the funds from the transaction.
                return actions.order.capture().then(function(details) {
                // This function shows a transaction success message to your buyer.
                // console.log(details)
                if (details.error === 'INSTRUMENT_DECLINED') {
                    return actions.restart();
                }else{
                    // console.log(details)
                    placeOrder( 'paypal' , details);
                }
                });
            }
            }).render('#paypal-button-container');
            //This function displays Smart Payment Buttons on your web page.
        }


    },
    computed:{

        total_price(){
            var total_price = 0;
            this.items.map( item => {
                if(!item.is_free){
                    if(item.discounted_price){
                        total_price = parseInt(total_price) + parseInt(item.discounted_price);
                    }else{
                        total_price = parseInt(total_price) + parseInt(item.price);
                    }
                }
            })

            return total_price;
        },
    },
    methods:{
        
        deleteItem(item){
            this.deleting_item = item;
            axios.post('delete-cart-item' , {
                item
            }).then(res => {
                
                console.log(res)
                this.items.splice( this.items.indexOf(item) , 1 )
                this.deleting_item = '';
                this.$toastr.info(res.data.message);

                // $('#cart-items').text(res.data.session_count);
                // $('#cart-items').show()
                $('.cart-items-count').text(res.data.session_count);
                $('.cart-items-count').html(res.data.session_count);
                $('.cart-items-count').show()

                if(res.data.session_count == 0){
                    $('.cart-items-count').hide()
                    $('.paypal-buttons').hide()
                }


            }).catch(err => {
                this.deleting_item = '';
                console.log(err)
                this.$toastr.error(err.response.data.message);
            })
        },

        placeOrder(method = '' , result , type = ''){
            this.placing_order = true;
            this.fullLoader = true;
            if(method || type){
                axios.post('place-order' , {
                    result: result ? result : "",
                    method: method,
                    type: !method ? type : "Paid",
                    total_amount: this.total_price,
                    amount: this.total_price,
                }).then( res => {
                    
                    // console.log(res)
                    this.$toastr.info('Purchase successful')
                    this.placing_order = false;
                    this.fullLoader = false;
                    window.location = '/'

                }).catch( err =>{ 
                    
                    this.placing_order = false;
                    this.fullLoader = false;

                    // console.log(err.response , err.response.data)
                    
                    if(err.response.data.email_exception){
                        this.$toastr.info('Email Sending Failed')
                        window.location = '/'
                    }else{
                        this.$toastr.info(err.response.data.message)
                    }

                })
            }
        }

    }
}
</script>

<style>

.paypal-button-row{
    height: 39px !important;
}

/* paypal-button-container paypal-button-layout-vertical paypal-button-shape-rect paypal-button-number-single paypal-button-env-sandbox  */
@media only screen and (min-width: 500px){
    .paypal-button-layout-vertical{
        max-width: 760px !important;
    }
}
</style>