<template>
  <div class="page checkout-page">

    <div v-if="fullLoader" class="full-screen-loader">
        <loader font_size="40"></loader>
    </div>
    <div class="box-container">
        
        <div v-if="step == 1" class="box">
            <div class="page-title">
                    
                    <template v-if="total_price > 0">
                        <div class="message-box">
                            Have a Coupen? <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> Click here to enter </a>
                        </div>

                        <div class="collapse" id="collapseExample">
                            <div class="coupen-area">
                                <input class="checkout-input" v-model="coupen_code" placeholder="Enter Coupen Code" />
                                <button @click="checkCoupen" :disabled="coupen_applied" class="grey-btn " type="button">
                                    <loader v-if="checking_coupen"></loader>
                                    <span v-else>{{coupen_applied ? 'Coupen Applied' : 'Apply Coupen'}}</span>
                                </button>
                            </div>
                        </div>
                        <hr>          
                    </template>

                    <div class="user-info-area">
                        <div class="first-name mr-1">
                            <div class="checkout-label" >First Name</div>
                            <input class="checkout-input w-100"  v-model="first_name" placeholder="" />
                        </div>
                        <div class="last-name ml-1">
                            <div class="checkout-label" >Last Name</div>
                            <input class="checkout-input w-100"  v-model="last_name" placeholder="" />
                        </div>
                    </div>
                    <div class="user-email-address">
                        <div class="email-address">
                            <div class="checkout-label" >Email Address</div>
                            <input class="checkout-input w-100" v-model="email"  placeholder="" />
                        </div>
                    </div>
                    <!-- <div class="notification-checkbox">
                        <input id="notify-me" type="checkbox"  value="true" v-model="notification" class="" placeholder="" />
                        <label for="notify-me">Freebies, update notifications and new product news?</label>
                    </div> -->
                        
                    


                    <div class="order-details">
                        <div class="left-side">
                            <div class="product-item bold" > Products </div>
                            <div class="product-item" v-for="item in cart_items" :key="item.id"> {{item.title}} </div>

                            <hr>
                            <div class="product-item bold" > Total </div>

                            <template v-if="coupen">
                                <hr>
                                <div class="product-item bold" > Discounted Total </div>
                            </template>

                        </div>
                        
                        <div class="right-side">
                            <div class="total-item bold" > SubTotal </div>
                            <div class="total-item" :class="{'free' : item.is_free}" v-for="item in cart_items" :key="item.id">
                                {{ item.is_free ? 'Free' : '$' + (item.discounted_price ? item.discounted_price : item.price)}} </div>

                            <hr>
                            <div class="total-item bold" > $ {{total_price}} </div>
                            
                            <template v-if="coupen">
                                <hr>
                                <div class="total-item bold" > $ {{ discounted_price }} </div>
                            </template>

                        </div>
                    </div>

                    <div v-if="!filled_form" class="info-message-box">
                        <i class="fas fa-info-circle"></i> Please Fill the form to continue
                    </div>

                    <hr v-if="filled_form">

                    <!-- <form action="/charge" method="post" id="payment-form">
                    <div class="form-group">
                        <label for="card-element">
                            Credit or debit card
                        </label>
                        <div id="card-element" class="checkout-input">
                            A Stripe Element will be inserted here.
                        </div>

                        Used to display Element errors.
                        <div id="card-errors" role="alert"></div>
                    </div>

                    <button class="grey-btn w-100 mt-3 mb-5">Complete Order</button>
                    </form> -->
                    <div v-show="filled_form" class="payment-area mt-4">
                    <div class="all-free-products" v-show="total_price == 0">
                        <button type="button" :disabled="placing_order" @click="placeOrder('' , '' , 'free' )"  class="grey-btn w-100 mt-3 place-order-simple" >
                            <loader v-if="placing_order"></loader>
                            <span v-else>Complete Order</span>
                        </button>
                    </div>

                    <div v-show="total_price > 0">
                        <div class=" payment-option">
                            <input type="radio" checked value="stripe" @change="toggleStripe" name="payment" id="stripe" />
                            <label for="stripe" >Stripe</label>
                        </div>

                        <div class="collapse" id="stripe-payment" style="display: block;">
                            <div class="card-body text-center">
                                <div ref="card"></div>
                                <div id="card-errors"></div>
                                <button type="button" :disabled="placing_order" @click="getToken"  class="grey-btn w-100 mt-3 stripe-pay" >
                                    <loader v-if="placing_order"></loader>
                                    <span v-else>Pay Now</span>
                                    </button>
                            </div>
                        </div>

                        <div class=" payment-option">
                            <input value="paypal" type="radio" @change="toggleStripe" name="payment" id="paypal" />
                            <label for="paypal" >PayPal</label>
                        </div>

                        <div class="collapse text-center" id="paypal-payment">
                            <div id="paypal-button-container"></div>
                        </div>
                    </div>

                    </div>

            </div>
        </div>

        <div v-if="step == 2" class="box px-3 ">
            <div class="message-box my-4"> Thank You for order. Check you email for download link. </div>
        </div>

    </div>
</div>
</template>

<script>

// let stripe = Stripe(`pk_test_51HHhTtIe4k5OOPr74OeIAjgB2GU1jGNFdFmlg4hAab36DNQgQzOlOvAE4lpk865kS3mS9LBrjVoNYmysErgMA4YW00h09sRHAi`),
//     elements = stripe.elements(),
//     card = undefined;

export default {
    props:{
        cart_items: {

        }
    },
    data(){
        return{
            items: [],
            step: 1,
            deleting_item: '',
            coupen_code: '',
            coupen: '',
            first_name: '',
            last_name: '',
            email: '',
            notification: '',
            discounted_price: '',
            checking_coupen: false,
            placing_order: false,
            no_payment_required: false,
            fullLoader: false,
            coupen_applied: false,
        }
    },
    mounted(){


        this.items = this.cart_items;
        card = elements.create('card' , { style:
            {
                base: {
                lineHeight: '1.429'
                }
            }
        });
        card.mount(this.$refs.card);

        let total_price = this.total_price;
        let discounted_price = this.discounted_price;
        let placeOrder = this.placeOrder;

        paypal.Buttons({
            style: {
                height:  39,
                width:  760,
            },

        createOrder(data, actions){

            // This function sets up the details of the transaction, including the amount and line item details.
            return actions.order.create({
            purchase_units: [{
                amount: {
                value: discounted_price ? discounted_price : total_price 
                // value: "10"
                }
            }]
            });
        },
        onCancel(data) {
            // Show a cancel page, or return to cart
            checkout_component.responsePaymentCanceled('Sorry , The payment has been cancelled. Try Again');
        },
            onError: (err) => {
            // Show an error page here, when an error occurs
            this.$toastr.error(err);
            // console.log(err)
            checkout_component.responsePaymentCanceled('Sorry, Payment Failed due unknown reasons.Please Try Again');

        },


        onApprove: function(data, actions) {
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function(details) {
            // This function shows a transaction success message to your buyer.
            // console.log(details)
            if (details.error === 'INSTRUMENT_DECLINED') {
                return actions.restart();
            }else{
                // console.log(details)
                placeOrder( 'paypal' , details);
            }
            });
        }
        }).render('#paypal-button-container');
        //This function displays Smart Payment Buttons on your web page.


        
        // let total_amount = this.amount;

    },
    computed:{

        total_price(){
            var total_price = 0;
            var no_payment_required = false;
            this.items.map( item => {
                if(!item.is_free){
                    if(item.discounted_price){
                        total_price = parseInt(total_price) + parseInt(item.discounted_price);
                    }else{
                        total_price = parseInt(total_price) + parseInt(item.price);
                    }
                }else{
                    no_payment_required = true
                }
            })

            this.no_payment_required = no_payment_required;
            return total_price;
        },
        filled_form(){
            // console.log(this.validateEmail(this.email) , ' validateEmail')
            if(this.first_name && this.last_name && this.email && this.validateEmail(this.email)){
                return true
            }else{
                return false
            }
        }
    },
    methods:{
        validateEmail(email) {
            const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        },

        toggleStripe(e){
            // console.log(e.target.value)
            if(e.target.value == 'stripe'){
                $('#stripe-payment').slideDown();
                $('#paypal-payment').slideUp();
            }else{
                $('#stripe-payment').slideUp();
                $('#paypal-payment').slideDown();
            }
        },
        // togglePaypal(){
        //     $('#stripe-payment').slideToggle();
        //     $('#paypal-payment').slideToggle();
        // },
        deleteItem(item){
        
            this.deleting_item = item;
            axios.post('delete-cart-item' , {
                item
            }).then(res => {
                
                // console.log(res)
                this.items.splice( this.items.indexOf(item) , 1 )
                this.deleting_item = '';
                this.$toastr.info(res.data.message);

            }).catch(err => {
                this.deleting_item = '';
                // console.log(err)
                this.$toastr.error(err.response.data.message);
            })
        },
        checkCoupen(){
            if(this.coupen_code){
                this.checking_coupen = true;
                axios.post('/api/coupen-code-check' , {
                    coupen: this.coupen_code
                }).then( res => {
                    // console.log(res)
                    this.checking_coupen = false;
                    this.coupen_applied = true;
                    this.coupen = res.data.coupen
                    this.discounted_price = this.total_price / 100 * (100 - this.coupen.discount)
                    this.$toastr.info('Coupen successfully applied');
                    // this.$toastr.info(res.data.message);
                }).catch( err => {
                    // console.log(err)
                    this.checking_coupen = false;
                    this.$toastr.error(err.response.data.message);
                })
            }

            if(this.discounted_price){
                this.$toastr.error('Coupen already applied');
            }
        },

        getToken(){
  
            let validationError = this.validationError;
            this.placing_order = true;
            var obj = this
            stripe.createToken(card).then(function(result) {
            if (result.error) {
                // console.log(result.error)
                validationError(result.error.message);
                self.hasCardErrors = true;
                obj.placing_order = false;
                return;
            }else{
                // console.log(result)
                obj.placing_order = false;
                obj.placeOrder( 'stripe' , result);
            }

    });

    },
    placeOrder(method = '' , result , type = ''){
        this.placing_order = true;
        this.fullLoader = true;
        if(method || type){
            axios.post('place-order' , {
                first_name: this.first_name,
                last_name: this.last_name,
                email: this.email,
                result: result ? result : "",
                method: method,
                type: !method ? type : "Paid",
                total_amount: this.discounted_price ? this.discounted_price : this.total_price,
                amount: this.total_price,
                coupen: this.coupen ? this.coupen : null,
                notification: this.notification,
            }).then( res => {
                
                // console.log(res)
                this.$toastr.info('Purchase successful')
                this.placing_order = false;
                this.fullLoader = false;
                window.location = '/'

            }).catch( err =>{ 
                
                this.placing_order = false;
                this.fullLoader = false;

                // console.log(err.response , err.response.data)
                
                if(err.response.data.email_exception){
                    this.$toastr.info('Email Sending Failed')
                    window.location = '/'
                }else{
                    this.$toastr.info(err.response.data.message)
                }

            })
        }
    },
    validationError(error){
        this.$toastr.error(error);
    }


    }
}
</script>

<style>
.StripeElement {
    height: 40px;
    background-color: #b6b6b6;
    border: 1px solid #727272;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 17px;
    outline: none;
    font-family: monospace;
    color: #727272;
    padding-top: 10px !important;

}

.full-screen-loader{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0000002e;
    color: black;

}
/* #card-element.checkout-input{
} */
        /* Padding for Stripe Element containers */
        /* .stripe-element-container {
            padding-top: .55rem;
            padding-bottom: .50rem;
        } */

        /* Blue outline on focus */
        /* .StripeElement--focus {
            border-color: #80BDFF;
            outline:0;
            box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        } */

        /* Can't see what I type without this */
        /* #card-number.form-control,
        #card-cvc.form-control,
        #card-exp.form-control {
            display:inline-block;
        } */

</style>