<template>
  <div class="page checkout-page">

    <!-- <div v-if="fullLoader" class="full-screen-loader">
        <loader font_size="40"></loader>
    </div> -->
    <div class="box-container">
        
        <div class="box">
            <div class="page-title">
                <form @submit.prevent="submitMessage">
                <div class="user-info-area">
                    <div class="first-name mr-1">
                        <div class="checkout-label" >First Name</div>
                        <input class="checkout-input w-100"  v-model="first_name" placeholder="First Name"  required />
                    </div>
                    <div class="last-name ml-1">
                        <div class="checkout-label" >Last Name</div>
                        <input class="checkout-input w-100"  v-model="last_name" placeholder="Last Name" required  />
                    </div>
                </div>
                <div class="user-email-address">
                    <div class="email-address">
                        <div class="checkout-label" >Email Address</div>
                        <input class="checkout-input w-100" v-model="email"  placeholder="Email Address" required />
                    </div>
                </div>
                
                <div class="user-email-address">
                    <div class="email-address">
                        <div class="checkout-label" >Message</div>
                        <textarea class="checkout-input w-100 h-auto" v-model="message" rows="5" placeholder="Type Here" required></textarea>
                    </div>
                </div>

                <!-- <loader v-if="placing_order"></loader> -->
                <button type="submit" :disabled="submitting" class="grey-btn w-100 mt-3 place-order-simple" >
                    <loader v-if="submitting"></loader>
                    <span v-else>Submit</span>
                </button>
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<script>

export default {
    data(){
        return{
            first_name: "",
            last_name: "",
            email: "",
            message: "",
            loading: false,
            submitting: false,
        }
    },
    mounted(){
    },
    methods:{
        submitMessage(){
            this.submitting = true
            axios.post('/api/store/contact-us' , {
                first_name : this.first_name, 
                last_name : this.last_name, 
                email : this.email, 
                message : this.message, 
            }).then( res => {
                console.log(res)
                this.submitting = false
                this.$toastr.info(res.data.message);
                this.first_name = ''
                this.last_name = ''
                this.email = ''
                this.message = ''
                window.location = '/'
            }).catch(err => {
                console.log(err.response.data.message)
                this.submitting = false
                this.$toastr.error(err.response.data.message);
            })
        }
    }
}
</script>

<style>
/* #card-element.checkout-input{
} */
        /* Padding for Stripe Element containers */
        /* .stripe-element-container {
            padding-top: .55rem;
            padding-bottom: .50rem;
        } */

        /* Blue outline on focus */
        /* .StripeElement--focus {
            border-color: #80BDFF;
            outline:0;
            box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        } */

        /* Can't see what I type without this */
        /* #card-number.form-control,
        #card-cvc.form-control,
        #card-exp.form-control {
            display:inline-block;
        } */

</style>