<template>
    <div class="">
        <form @submit.prevent="saveEmail">
            <div class="mail-container">
                <input v-model="email" type="email" required placeholder="Subscribe to Newsletter" />
                <button type="submit" :disabled="loading">
                    <loader font_size="15px" v-if="loading"></loader>
                    <i v-else class="fas fa-envelope"></i>
                </button>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    data(){
        return{
            loading: false,
            email: "",
        }
    },
    methods:{
        saveEmail(){
            if(this.email){
                this.loading = true
                axios.post('/api/subscribe' , {
                    email: this.email,
                }).then( res => {
                    this.email = ''
                    this.loading = false
                    this.$toastr.info('You have subscribed to our newsletter');
                }).catch( err => {
                    this.loading = false
                    this.$toastr.error(err.response.data.message);
                })
            }
        }
    }
}
</script>

<style>

</style>