<template>
  <div class="page checkout-page">

    <!-- <div v-if="fullLoader" class="full-screen-loader">
        <loader font_size="40"></loader>
    </div> -->
    <div class="box-container">
        
        <div class="box">
            <div class="page-title">
                <form @submit.prevent="sendOrderDetails">
                <div class="user-email-address">
                    <p>Please enter your email used for placing order to get the order details</p>
                    <div class="email-address mb-2">
                        <div class="checkout-label mb-2" >Email Address</div>
                        <input class="checkout-input w-100" v-model="email"  placeholder="Email Address" required />
                    </div>
                </div>
                
                <!-- <loader v-if="placing_order"></loader> -->
                <button type="submit" class="grey-btn w-100 mt-3 place-order-simple" >
                    <loader v-if="submitting"></loader>
                    <span v-else>Send</span>
                </button>
                </form>
            </div>
        </div>
    </div>
</div>
</template>

<script>

export default {
    data(){
        return{
            first_name: "",
            last_name: "",
            email: "",
            message: "",
            loading: false,
            submitting: false,
        }
    },
    mounted(){
    },
    methods:{
        sendOrderDetails(){
            this.submitting = true
            axios.post('/api/send-order-details' , {
                email : this.email, 
            }).then( res => {
                console.log(res)
                this.submitting = false
                this.$toastr.info(res.data.message);
                this.email = ''
                // window.location = '/'
            }).catch(err => {
                console.log(err.response.data.message)
                this.submitting = false
                this.$toastr.error(err.response.data.message);
            })
        }
    }
}
</script>

<style>
/* #card-element.checkout-input{
} */
        /* Padding for Stripe Element containers */
        /* .stripe-element-container {
            padding-top: .55rem;
            padding-bottom: .50rem;
        } */

        /* Blue outline on focus */
        /* .StripeElement--focus {
            border-color: #80BDFF;
            outline:0;
            box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        } */

        /* Can't see what I type without this */
        /* #card-number.form-control,
        #card-cvc.form-control,
        #card-exp.form-control {
            display:inline-block;
        } */

</style>