<template>
<div>
<div class="single-product">
    <div class="description-container">
        <div class="description-box">
            <div class="product-title">
                {{product.title}}
            </div>


            
            <div v-if="!product.is_free && product.discounted_price" :class="{ 'free' : product.is_free}" class="product-price-box"> 
                <span class="old-price">{{product.is_free ? 'Free' : '$' + product.price}}</span>
                <span class="discounted-price ml-3">${{product.discounted_price}}</span>
            </div>
            
            <div v-else class="price" :class="{ 'free' : product.is_free}"> {{product.is_free ? 'Free' : '$' + product.price}}</div>
            <div class="description" v-html="product.description">
                <!-- {{product.description}} -->
            </div>

            <div class="preview-section" v-if="product.preview_link">
                <div class="preview-text mb-2">Preview</div>

                <div class="preview-box">

                    <div class="audio-container">

                        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" :src="product.preview_link"></iframe>

                        <div style="font-size: 10px; color:#cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space:nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,LucidaSans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                        </div>

                    </div>
                </div>
                <!-- <hr> -->
                <!-- <a href="https://soundcloud.com/knxwledge" title="Knx.[ノレッジ]" target="_blank" style="color:#cccccc; text-decoration: none;">Knx.[ノレッジ]</a> · 
                <a href="https://soundcloud.com/knxwledge/dpb6lstmqtqy" title="[​確かにはい] ]" target="_blank"style="color: #cccccc; text-decoration: none;">[​確かにはい] ]</a> -->


                <!-- <button class="play-button" ><i id="audio-icon" class="fa fa-play"></i></button> -->
                <!-- <div class="wave-container" >
                    <div class="btn-container">
                        <i @click="toggleMediaPlayer" id="audio-icon" class="fa fa-play"></i>
                    </div>
                    <div class="waves">
                        <div id="waveform"></div>
                    </div>
                </div> -->
            </div>

            <a href="javascript:;" @click="addToCart" class="add-to-cart">
                <loader v-if="adding_to_cart"></loader>
                <span v-else>Add To Cart</span>
            </a>
        </div>
    </div>



        <div class="image-container">
            <!-- <img src="https://images.pexels.com/photos/3413462/pexels-photo-3413462.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" /> -->

            <div class="images" v-if="product.images.length > 0">
                <div class="image" v-for="image in product.images" :key="image.id">
                    <img :src="'/storage/products/' + image.name" class="featured-image" />
                </div>
            </div>

            <img v-else-if="product.images.length == 0 && product.thumbnail" :src="'/storage/products/'+product.thumbnail"  class="featured-image" />

            <img v-else src="/img/timthumb.png" class="featured-image" />

    </div>
</div>
        



<div class="related-products-title integral-fonts">Related Products</div>
<div class="related-products">
   
    <template v-if="related_products">

    <div class="related-product-box" v-for="product in related_products" :key="product.id">
        <a :href="'/product/'+ product.slug + '/view'">
            <div class="featured-image-box">
                <template v-if="product.thumbnail">
                <img :src="'/storage/products/'+product.thumbnail" class="featured-image" />
                </template>
                <img v-else src="/img/timthumb.png" class="featured-image" />
            </div>
            <div class="product-details">
                <div class="product-title">{{product.title}}</div>

                <template v-if="product.discounted_price && product.discounted_price > 0">
                    <div class="product-price-with-discount">
                        <span class="original-price"> ${{ product.price > 0 ? product.price : ""}} </span>
                        <span class="discounted-price">${{ product.discounted_price > 0 ? product.discounted_price : "" }}</span>
                    </div>
                </template>
                <template v-else>
                    <div class="product-price @if($product->is_free) free @endif">{{ product.is_free ? 'Free' : '$' + product.price }}
                        
                    </div>
                </template>

            </div>
        </a>
    </div>

    <div class="no-related_products-found" v-if="related_products.length == 0">
        <i class="fas fa-info-circle"></i> No Related Products
    </div>
    </template>
</div>
    

</div>
</template>

<script>
export default {
    props:{
        related_products:{

        },
        product:{

        },
    },

    data(){
        return{
            adding_to_cart: false,
            wavesurfer: "",
        }
    },
    mounted(){
        // this.$toastr.info('Testing' , '' , {
        //     timeOut : 0
        // });

        // var wavesurfer = WaveSurfer.create({
        //     container: document.querySelector('#waveform'),
        //     waveColor: '#787878',
        //     progressColor: '#141414',
        //     height: '35',
        //     cursorWidth: '0',
        //     // hideScrollbar: 'true',
        //     // backend: 'MediaElement'
        //     // backend: 'MediaElement'
        //     // barWidth: 1,
        //     // height: 70,
        //     // backend: 'MediaElement',
        //     // barHeight: 1, // the height of the wave
        //     // barGap: null // the optional spacing between bars of the wave, if not provided will be calculated in legacy format
        // });
        //     // wavesurfer.load('https://files.freemusicarchive.org/storage-freemusicarchive-org/music/no_curator/Tours/Enthusiast/Tours_-_01_-_Enthusiast.mp3');
        //     wavesurfer.load('https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3');
        //     console.log(wavesurfer.load('https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3'))
        // if(this.product.preview_link){
        //     // wavesurfer.load(this.product.preview_link);
        // }
        // // wavesurfer.load("/assets/despacito_saxophone.mp3");
        
        // //var wavesurfer = WaveSurfer.create();
        
        // wavesurfer.on('seek', function (progress) {
        //     // console.log(progress , 'progress seek')
        //     // wavesurfer.params.container.style.opacity = 0.9;
        //     // console.log('seek ' , progress , wavesurfer.isPlaying())
        //         // paused();
        //         // wavesurfer.seekTo(progress)
        //         // if(wavesurfer.isPlaying()){
        //         //     wavesurfer.play();
        //         // }else{
        //         //     wavesurfer.pause();
        //         // }
        // });
    
        // this.wavesurfer = wavesurfer

    },
    methods:{
        toggleMediaPlayer(){
            
            this.wavesurfer.playPause();
    
            if(this.wavesurfer.isPlaying()){
                $('#audio-icon').removeClass('fa-play');
                $('#audio-icon').addClass('fa-pause');        

            }else{
                $('#audio-icon').addClass('fa-play');
                $('#audio-icon').removeClass('fa-pause');        

            }

        },
        addToCart(){
            this.adding_to_cart = true;

            axios.post('/add-to-cart' , {
                product: this.product,
            }).then( res => {
                
                console.log(res)
                this.adding_to_cart = false
                console.log(res.data.session_count)
                $('.cart-items-count').text(res.data.session_count);
                $('.cart-items-count').html(res.data.session_count);
                $('.cart-items-count').addClass('d-flex')
                this.$toastr.info( res.data.message , {
                    positionClass: "toast-bottom-right",
                    timeOut: '-1',
                });
            }).catch( err => {
                this.adding_to_cart = false
                console.log(err)
                this.$toastr.error(err.response.data.message);
            })
        }
    }
}
</script>

<style>
.no-related_products-found i{
    margin-top: 5px;
    margin-right: 10px;
}
.no-related_products-found{
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'IntegralCF-Regular';
    color: #8c8c8c;
}
</style>